.sub-text {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 9px;
  background-color: rgba(4, 28, 55, 0.5);
  border-left: 2px solid #ffbe34;
  width: fit-content;
}

* {
  margin: 0;
  padding: 0;
}

.display-text {
  font-family: "Rubik", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.2%; /* 79.92px */
  text-transform: capitalize;
  color: #fff;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.2%; /* 79.92px */
  text-transform: capitalize;
  color: #1c1f35;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.2%; /* 53.28px */
  text-transform: capitalize;
  color: #1c1f35;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  color: #1c1f35;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.7%; /* 38.91px */
  text-transform: capitalize;
  color: #1c1f35;
}

h5 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.7%; /* 32.425px */
  text-transform: capitalize;
  color: #1c1f35;
}

h6 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.7%; /* 25.94px */
  text-transform: capitalize;
  color: #1c1f35;
}

p {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  color: #666c89;
}

header {
  background-color: #091242;
  height: 160px;
  display: flex;
  align-items: center;
}
header .logo-header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-header img {
  height: 36px;
}
header .logo-header .address-bar {
  display: flex;
}
header .logo-header .address-bar .time,
header .logo-header .address-bar .email,
header .logo-header .address-bar .call {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 20px;
}
header .logo-header .address-bar div img {
  display: inline-block;
  width: 63px;
  height: 63px;
}
header .logo-header .address-bar P {
  color: #fff;
}

nav {
  display: flex;
  background-color: rgba(9, 18, 66, 0.25);
}
nav .nav-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .menu li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
nav .nav-container .menu li:last-child {
  border-right: none;
}
nav .nav-container .menu li a {
  padding: 24px 14px;
  color: #fff;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%; /* 21.604px */
  text-decoration: none;
}
nav .nav-container .menu li a:hover {
  border-bottom: 2px solid #fff;
}
nav .nav-container .follow-container {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: end;
}
nav .nav-container .follow-container .follow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-right: 50px;
}
nav .nav-container .follow-container button {
  display: flex;
  padding: 28px 52px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #23212a;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%; /* 21.604px */
  border: none;
}

#hero {
  width: 100%;
  height: 80vh;
}
#hero img {
  z-index: -1;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  top: 140px;
}
#hero .text-container {
  width: 80%;
  height: 58vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
#hero .text-container h1 {
  width: 50%;
}
#hero .text-container p {
  width: 50%;
  color: #fff;
}
#hero .text-container p:first-child {
  width: fit-content;
}
#hero .text-container button {
  display: flex;
  padding: 19px 34px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(94deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
  color: #1c1f35;
  font-family: Krub;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%; /* 21.604px */
  border: none;
}

#services {
  width: 80%;
  margin: 200px auto;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "header content";
}
#services .header {
  grid-area: "header";
}
#services .content {
  grid-area: "content";
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 83px;
}
#services .content .services-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
#services .content .services-content img {
  padding-right: 20px;
  border-right: 1px solid #d8d8d8;
}

#about {
  width: 100%;
}
#about img {
  width: 100%;
  object-fit: cover;
}
#about .about-content {
  width: 80%;
  margin: auto;
  padding: 66px;
  box-sizing: border-box;
  position: relative;
  top: -100px;
  background-color: #fff;
  display: grid;
  grid-template-areas: "heading content" "about-counter about-counter";
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
#about .about-content .about-heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#about .about-content .about-heading .about-icon-container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "icon content" "icon content";
  row-gap: 22px;
  column-gap: 15px;
}
#about .about-content .about-heading .about-icon-container img {
  width: 58px;
  height: auto;
  place-self: center;
}
#about .about-content .about-heading .about-icon-container h6 {
  place-self: center start;
}
#about .about-image {
  width: 100%;
  height: 100%;
}
#about .about-image img {
  height: 100%;
  object-fit: cover;
}
#about .about-counter {
  grid-area: about-counter;
  display: flex;
  justify-content: center;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
#about .about-counter .about-counter-1 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  border-right: 1px solid #d4d4d4;
}
#about .about-counter .about-counter-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
}

#project {
  padding: 100px auto;
  position: relative;
  margin-bottom: 150px;
}
#project .project-content {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas: "heading heading heading heading heading" "card card card card card";
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
#project .project-content h1 {
  grid-area: heading;
  text-align: center;
  margin-bottom: 20px;
}
#project .project-content .project-content-card {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%);
  position: relative;
}
#project .project-content .project-content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
#project .project-content .project-content-card .project-content-card-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
#project .project-content .project-content-card .project-content-card-text-container h6 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#project .project-content .project-content-card .project-content-card-text-container p {
  color: #ffbe34;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
}
#project .project-content::after {
  content: "";
  background-image: linear-gradient(95deg, #ffb629 -1.19%, #ffda56 57.78%, #ffd7a6 115.08%);
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
  bottom: -150px;
}

#testimonial {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 150px;
}
#testimonial .testimonial-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#testimonial .testimonial-header .text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#testimonial .testimonial-header .arrow-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#testimonial .testimonial-header .arrow-container .arrow-container-back {
  padding: 18px;
  border-radius: 50px;
  background-image: linear-gradient(95deg, #ffb629 -1.19%, #ffda56 57.78%, #ffd7a6 115.08%);
}
#testimonial .testimonial-header .arrow-container .arrow-container-forward {
  padding: 18px;
  border-radius: 50px;
  background-color: #091242;
  color: white;
}
#testimonial .testimonial-content {
  width: 100%;
  display: flex;
}
#testimonial .testimonial-content .testimonial-content-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 62px 72px;
  box-sizing: border-box;
  gap: 24px;
  background-color: #f4f4f4;
}
#testimonial .testimonial-content .testimonial-content-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#testimonial .testimonial-content .testimonial-content-card .card-header .card-profile {
  display: flex;
  gap: 14px;
  align-items: center;
}
#testimonial .testimonial-content .testimonial-content-card .card-header .card-profile img {
  border-radius: 50px;
}
#testimonial .testimonial-content .testimonial-content-card:last-child {
  background-color: #091242;
}
#testimonial .testimonial-content .testimonial-content-card:last-child .card-header h6,
#testimonial .testimonial-content .testimonial-content-card:last-child .card-header p {
  color: #fff;
}
#testimonial .testimonial-content .testimonial-content-card:last-child p {
  color: #fff;
}

#why-choose {
  background: linear-gradient(to right, #091242 0%, #091242 50%, #f4f4f4 50%, #f4f4f4 100%);
  padding: 150px 0px;
  box-sizing: border-box;
}
#why-choose .why-choose-container {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 80px;
}
#why-choose .why-choose-container .container-left {
  width: 929px;
  height: 610px;
  position: relative;
}
#why-choose .why-choose-container .container-left .container-left-text {
  position: absolute;
  background-image: linear-gradient(94deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
  display: flex;
  width: 417px;
  height: 139px;
  gap: 21px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
#why-choose .why-choose-container .container-left .container-left-text h6 {
  width: 260px;
}
#why-choose .why-choose-container .container-right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#why-choose .why-choose-container .container-right .container-right-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#why-choose .why-choose-container .container-right .container-right-header p {
  width: 486px;
}
#why-choose .why-choose-container .container-right .container-right-header p:first-child {
  width: fit-content;
}
#why-choose .why-choose-container .container-right .container-right-features {
  display: grid;
  grid-template-columns: min-content auto min-content auto;
  gap: 20px;
  align-items: center;
}

#team {
  width: 80%;
  margin: auto;
  padding: 150px 0px;
  box-sizing: border-box;
}
#team .team-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
#team .team-container .team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
#team .team-container .team-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
#team .team-container .team-content .team-user {
  width: 100%;
  position: relative;
  background-color: #091242;
}
#team .team-container .team-content .team-user img {
  width: 100%;
  height: 425px;
  object-fit: cover;
}
#team .team-container .team-content .team-user .user-text {
  margin-top: 20px;
  padding: 24px 28px;
  box-sizing: border-box;
}
#team .team-container .team-content .team-user .user-text h6,
#team .team-container .team-content .team-user .user-text p {
  color: #fff;
}
#team .team-container .team-content .team-user .team-user-social {
  display: flex;
  width: fit-content;
  padding: 20px 18px;
  gap: 20px;
  background-image: linear-gradient(94deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
  position: absolute;
  right: 0;
  bottom: 15%;
}
#team .team-container .team-content .team-user .team-user-social img {
  width: 23.083px;
  height: 21.491px;
}

#contact {
  background-color: #091242;
}
#contact .contact-container {
  width: 80%;
  margin: auto;
  padding: 150px 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#contact .contact-container .contact-form {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 80px;
}
#contact .contact-container .contact-form .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#contact .contact-container .contact-form .content .content-header h1 {
  margin-top: 20px;
  color: #fff;
}
#contact .contact-container .contact-form .content .content-contact {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 20px;
}
#contact .contact-container .contact-form .form {
  display: grid;
  height: 468px;
  grid-template-areas: "input input" "input input" "textarea textarea" "button button";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 2fr min-content;
  gap: 20px;
}
#contact .contact-container .contact-form .form textarea {
  grid-area: textarea;
  padding: 20px;
  box-sizing: border-box;
  background-color: #091242;
  border: 1px solid #666c89;
  font-family: "Krub", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  color: #fff;
}
#contact .contact-container .contact-form .form button {
  width: max-content;
  padding: 20px 35px;
  background-image: linear-gradient(94deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
  color: #1c1f35;
  font-family: Krub;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%; /* 21.604px */
  border: none;
}
#contact .contact-container .contact-form .form > input {
  padding: 20px;
  box-sizing: border-box;
  background-color: #091242;
  border: 1px solid #666c89;
  font-family: "Krub", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  color: #fff;
}
#contact .contact-container .client-logo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#contact .contact-container .client-logo .client-logo-wrapper {
  width: 100%;
  position: relative;
}
#contact .contact-container .client-logo .client-logo-wrapper img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#contact .contact-container .client-logo .client-logo-wrapper img:last-child {
  width: auto;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}
#contact .contact-container .client-logo .client-logo-wrapper::after {
  content: "";
  background-image: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */