* {
  margin: 0;
  padding: 0;
}

.display-text {
  font-family: "Rubik", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.2%; /* 79.92px */
  text-transform: capitalize;
  color: #1c1f35;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.2%; /* 79.92px */
  text-transform: capitalize;
  color: #1c1f35;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.2%; /* 53.28px */
  text-transform: capitalize;
  color: #1c1f35;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  color: #1c1f35;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.7%; /* 38.91px */
  text-transform: capitalize;
  color: #1c1f35;
}

h5 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.7%; /* 32.425px */
  text-transform: capitalize;
  color: #1c1f35;
}

h6 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.7%; /* 25.94px */
  text-transform: capitalize;
  color: #1c1f35;
}

p {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  color: #666c89;
}

header {
  background-color: #091242;
  height: 160px;
  display: flex;
  align-items: center;
}
header .logo-header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-header img {
  height: 36px;
}
header .logo-header .address-bar {
  display: flex;
}
header .logo-header .address-bar .time,
header .logo-header .address-bar .email,
header .logo-header .address-bar .call {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 20px;
}
header .logo-header .address-bar div img {
  display: inline-block;
  width: 63px;
  height: 63px;
}
header .logo-header .address-bar P {
  color: #fff;
}

nav {
  background-color: rgba(9, 18, 66, 0.25);
  display: flex;
}
nav .nav-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .menu li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
nav .nav-container .menu li:last-child {
  border-right: none;
}
nav .nav-container .menu li a {
  padding: 24px 14px;
  color: #fff;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%; /* 21.604px */
  text-decoration: none;
}
nav .nav-container .menu li a:hover {
  border-bottom: 2px solid #fff;
}
nav .nav-container .follow-container {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: end;
}
nav .nav-container .follow-container .follow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-right: 50px;
}
nav .nav-container .follow-container button {
  display: flex;
  padding: 28px 52px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #23212a;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%; /* 21.604px */
  border: none;
}/*# sourceMappingURL=style.css.map */