$primary1-color: #ffbe34;
$primary2-color: #091242;
$secondary1-color: #f4f4f4;
$heading-font-color: #1c1f35;
$paragraph-font-color: #666c89;

.sub-text {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 9px;
  background-color: rgba(4, 28, 55, 0.5);
  border-left: 2px solid $primary1-color;
  width: fit-content;
}

* {
  margin: 0;
  padding: 0;
}
.display-text {
  font-family: "Rubik", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.2%; /* 79.92px */
  text-transform: capitalize;
  color: #fff;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.2%; /* 79.92px */
  text-transform: capitalize;
  color: $heading-font-color;
}
h2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.2%; /* 53.28px */
  text-transform: capitalize;
  color: $heading-font-color;
}
h3 {
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  color: $heading-font-color;
}
h4 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.7%; /* 38.91px */
  text-transform: capitalize;
  color: $heading-font-color;
}
h5 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 129.7%; /* 32.425px */
  text-transform: capitalize;
  color: $heading-font-color;
}
h6 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 129.7%; /* 25.94px */
  text-transform: capitalize;
  color: $heading-font-color;
}
p {
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  color: $paragraph-font-color;
}

// Start Header
header {
  background-color: $primary2-color;
  height: 160px;
  display: flex;
  align-items: center;
  .logo-header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 36px;
    }
    .address-bar {
      display: flex;
      .time,
      .email,
      .call {
        display: flex;
        align-items: center;
        gap: 17px;
        padding: 20px;
      }
      div img {
        display: inline-block;
        width: 63px;
        height: 63px;
      }
      P {
        color: #fff;
      }
    }
  }
}
// End Header

// Start Nav
nav {
  display: flex;
  background-color: rgba(9, 18, 66, 0.25);
  .nav-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu li {
      list-style: none;
      display: inline-block;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      &:last-child {
        border-right: none;
      }
      a {
        padding: 24px 14px;
        color: #fff;
        font-family: "Krub", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 135.023%; /* 21.604px */
        text-decoration: none;
        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
    .follow-container {
      display: flex;
      align-items: center;
      width: 30%;
      justify-content: end;
      .follow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        margin-right: 50px;
      }
      button {
        display: flex;
        padding: 28px 52px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #23212a;
        font-family: "Krub", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 135.023%; /* 21.604px */
        border: none;
      }
    }
  }
}
// End Nav

// Start Hero
main {
  #hero {
    width: 100%;
    height: 80vh;
    background-color: #091242;
    
    img {
      z-index: -1;
      width: 100%;
      height: 80vh;
      object-fit: cover;
      position: absolute;
      top: 140px;
    }
    .text-container {
      width: 80%;
      height: 58vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      h1 {
        width: 50%;
      }
      p {
        width: 50%;
        color: #fff;
        &:first-child{
          width: fit-content;
        }
      }
      button {
        display: flex;
        padding: 19px 34px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          94deg,
          #ffb629 -1.21%,
          #ffda56 58.66%,
          #ffd7a6 116.84%
        );
        color: $heading-font-color;
        font-family: Krub;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 135.023%; /* 21.604px */
        border: none;
      }
    }
  }
  #services{
    width: 80%;
    margin: 200px auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: "header content";
    .header{
      grid-area: 'header';
    }
    .content{
      grid-area: 'content';
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      gap: 83px;
      .services-content{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        img{
          padding-right: 20px;
          border-right: 1px solid #D8D8D8;
        }
      }
    }
  }
}
// End Hero
